<head>
    <style>
.boxed {
  border: 1px solid green ;
}
</style>
    
</head>
    <h5 style="margin-top:150px; margin-left:50px">
         <a href="/main_makememo/<%= @plan_id %>"><img alt="Rails" src="/assets/plus-4d255fe9fe978422c09187782f40044ded58e08757cc01c8adf4e341551c9fcd.png"></a>
    </h5>



<body>
    <div class="container">
        <div style="float:left">
            <img alt="Rails" src="/assets/memo"></a>
                    <% @memo.each do |p|%>
                    title : <%= p.title %>
            <a href="/destroy_memo/<%= p.id %>">[삭제]</a>
        </div>
     
                    <% end %>
        
   </div>
   
</body> 
                            