<head>
</head>        
<body>
    <div class="wrapper">
         <header id="header" class="parallax1">
            <div class="container">
              <form method="POST" action="/memo_write" style="margin-top:100px; margin-left:300px">
                   <div class="form-group">
                    <h5 style:"font-famliy:Arial">
                           <div class="form-group" style="margin-right:450px" >
                              <label for="exampleInputTitle" style="color:white">제목</label><br>
                              <input type="text" class="form-control" name="nameofmemo" id="exampleInputEmail1" placeholder="제목"style="width: 400px;height: 50px">
                           </div>
                           <br>
                           <div class="form-group" style="margin-right:450px">
                              <label for="exampleInputTitle" style="color:white">내용</label><br>
                              <textarea type="text" class="form-control" name="contentofmemo" id="exampleInputEmail1" placeholder="내용"style="width: 400px;height: 300px"></textarea>
                           </div>
                              <input type="hidden" name="plan_id" value="<%= @plan_id %>">
                              <button type="submit" class="btn btn-default">다음</button>
                    </h5>
                </div>
            </form>                      
        </div>
    </header>
</div>